.header {
    padding: 20px;
}

.button {
    width: 90vw;
    padding: 13px;
    margin: 5px 0;
    border-radius: 10px;
    background: white;
    border: none;
    color: black;
    background: white;
    -webkit-box-shadow: inset 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
}
