@import '../../styles/media.module.scss';
@import '../../styles/colorPalet.scss';

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;

    @include forMobile {
        flex-direction: column;
    }
}

.recordWrapper {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-top: 2em;
}

.table {
    background-color: $secondary;
    width: 70em;
}

.header {
    background-color: white;
}

.tbody {
    text-align: center;
    font-size: 20px;
    margin: 100px 0;
}
