.padding {
    padding-top: 15px;
    padding-bottom: 15px;
    padding: 15px 15px;
}

.mobileRecord {
    border: 1px solid black;
    padding: 20px;
    margin-top: 10px;
    border-radius: 15px;
    background-color: white;
}
